<h1>BPMS Tasks</h1>

<p>Click the row to set its approval settings.</p>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table' *ngIf="tasks">
  <thead>
    <tr>
      <th>Assignee</th>
      <th>Create Time</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let task of tasks" [routerLink]="['/approval-settings', task.id]">
      <td>{{ task.assignee }}</td>
      <td>{{ task.createTime | date: "medium"}}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date: "medium"}}</td>
      <td>{{ task.id }}</td>
      <td>{{ task.name }}</td>
    </tr>
  </tbody>
</table>
